#login-container {
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.field {
    flex-direction: column;
    display: flex;
    margin-bottom: 1rem;
}

span {
    color: whitesmoke;
}