.home-container {
    font-size: 11rem;
    font-family: 'Conta-ExtraLight';
    color: #f74c25;
    /* background-color: rgba(0, 0, 0, 0.253); */
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#main-txt {
    height: 12rem;
    display: flex;
    align-items: center;
}

.txt {
    font-size: 5rem;
    color: #f74c25;
    text-decoration: underline;
}