.item-container {
    margin-top: 4rem;
    display: grid;
    grid-template-areas: 
    'img info';
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    /* background-color: rgba(143, 143, 143, 0.397); */
    color: #f74c25;
    font-size: 22px;
    font-family: 'Telegraf-Regular';
    text-transform: uppercase;
}

.img-container {
    display: flex;
    align-items: flex-start;
    gap: 6rem;
    /* background-color: #f74c2541; */
    margin-top: 1rem;
}

#back-btn {
    margin-top: 1rem;
}

#item-title {
    font-weight: bold;
    font-size: 24px;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.3rem;
    width: 22rem;
    grid-area: info;
}

.item-img {
    max-width: 30rem;
    grid-area: img;
}

.size-btn {
    border: 1px solid #f74c25;
    border-radius: 500px;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
}

.btn-container{
    width: 60%;
}

#cart-btn {
    border: 1px solid #f74c25;
    border-radius: 500px;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
}