.item-container {
    margin-top: 4rem;
    display: grid;
    grid-template-areas: 
    'btn img info';
    grid-template-columns: 5% 1fr 1fr;
    justify-items: center;
    /* background-color: rgba(143, 143, 143, 0.397); */
    color: #f74c25;
    font-size: clamp(1rem, 0.7888rem + 0.9259vw, 1.5rem);
    font-family: 'Telegraf-Regular';
    text-transform: uppercase;
    height: 100vh;
    grid-column-gap: 2rem;
}

.img-container {
    display: flex;
    align-items: center;
    gap: 6rem;
    /* background-color: #f74c2541; */
    margin-top: 1rem;
}

.back-btn-container {
    
}

#back-btn {
    margin-top: 1rem;
}

#item-title {
    font-weight: bold;
    font-size: 24px;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.3rem;
    max-width: 31rem;
    grid-area: info;
}

.item-img {
    max-width: 30rem;
    grid-area: img;
}

.size-btn {
    border: 1px solid #f74c25;
    border-radius: 500px;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
}

.size-btn-container{
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
    align-items: center;
}

#cart-btn {
    border: 1px solid #f74c25;
    border-radius: 500px;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
}

@media screen and (max-width: 875px) {

    .item-container {
        margin-top: 4rem;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .back-btn-container {
        display: none;
    }
  }

  @media screen and (max-width: 495px) {
    .item-img {
        max-width: 24rem;
  }
  
}

