#sidebar-container {
    /* background-color: blue; */
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    max-width: 6%;
    gap: 1.3rem;
    margin-left: 1rem;
}

.sidebar {
    /* background-color: green; */
    /* margin: 1rem; */
}

@media screen and (max-width: 864px) {
    #sidebar-container {
        display: none;
    }
  }