* {
    margin: 0;
    padding: 0;
}

#products-main {
    background-color: rgb(235, 235, 235);
    color: orangered;
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-areas: 
    "sidebar products";
    height: 100vh;
}

#products-container {
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: products;
    gap: 3rem;
}

.products-card {
    background-color: rgba(218, 165, 32, 0.11);
    max-width: 35%;
    margin: 10px;
    
}

.test {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-info {
    display: flex;
    gap: 1rem;
}

.products-img {
    max-width: 100%;
    object-fit: contain;
}
