* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f6f2;
}

#products-main {
    background-color: #f7f6f2;
    color: #f74c25;
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-areas: 
    "sidebar products";
    height: 100vh;
    font-family: 'Telegraf-Regular';
    font-size: 22px;
    margin-top: 4rem;
}

#products-title {
    display: flex;
    margin-top: 1.5rem;
    font-size: clamp(3.2rem, 2.2316rem + 4.132vw, 5rem);
}

#products-container {
    /* background-color: rgb(235, 235, 235); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-area: products;
    gap: 2rem;
}

.products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
}

.products-card {
    /* background-color: rgba(218, 165, 32, 0.11); */
    /* border: 1px solid black; */
    font-size: 22px;
    max-width: 35%;
    margin: 10px;
    
}

.products-name {
    display: flex;
    flex-direction: column;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    
}

.products-img {
    max-width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 864px) {
    #products-main {
        grid-template-columns: 1fr;
    }

    #products-title {
        display: flex;
    }

  }